$size1: 0.555rem; // 10px
$size2: 0.666rem; // 12px
$size3: 0.777rem; // 14px
$size4: 0.888rem; // 16px
$size5: 1rem; // 18px
$size6: 1.111rem; // 20px
$size7: 1.222rem; // 22px
$size8: 1.333rem; // 24px

$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
