$space1: 0.25rem;
$space2: 0.5rem; // 9px
$space3: 0.75rem;
$space4: 1rem;
$space5: 1.25rem;
$space6: 1.5rem;
$space8: 2rem;
$space9: 2.25rem;
$space10: 2.5rem;
$space12: 3rem;
$space16: 4rem;
$space18: 4.5rem;
$space20: 5rem;
$space24: 6rem;
$space32: 8rem;
$space40: 10rem;
$space48: 12rem;
$space56: 14rem;
$space64: 16rem;
$space72: 18rem;
$space80: 20rem;
$space96: 24rem;
$space120: 30rem;
$space168: 42rem;
