input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
svg {
  fill: currentColor;
}
.rtl {
  direction: rtl;
}
.ltr {
  direction: ltr;
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('./assets/fonts/eot/IRANSansWeb(FaNum)_Black.eot');
  src: url('./assets/fonts/eot/IRANSansWeb(FaNum)_Black.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */ url('./assets/fonts/woff2/IRANSansWeb(FaNum)_Black.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/ url('./assets/fonts/woff/IRANSansWeb(FaNum)_Black.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('./assets/fonts/ttf/IRANSansWeb(FaNum)_Black.ttf') format('truetype');
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('./assets/fonts/eot/IRANSansWeb(FaNum)_Bold.eot');
  src: url('./assets/fonts/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */ url('./assets/fonts/woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/ url('./assets/fonts/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('./assets/fonts/ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('./assets/fonts/eot/IRANSansWeb(FaNum).eot');
  src: url('./assets/fonts/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */ url('./assets/fonts/woff2/IRANSansWeb(FaNum).woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/ url('./assets/fonts/woff/IRANSansWeb(FaNum).woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('./assets/fonts/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./assets/fonts/eot/IRANSansWeb(FaNum)_Light.eot');
  src: url('./assets/fonts/eot/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */ url('./assets/fonts/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/ url('./assets/fonts/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('./assets/fonts/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: unset;
  user-select: none;
}
button:focus,
[type='button']:focus,
[type='reset']:focus,
[type='submit']:focus {
  outline: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

html {
  font-size: 18px;
  height: 100%;
}
body {
  height: 100%;
}
#root {
  height: 100%;
}
